{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="text-center p-2 mb-2 bg-success text-white">{% block title %}Crear articulo{% endblock %}</h5>
                </div>
                <div class="card-body">

                    <form enctype="multipart/form-data" method="post">
                        

<!--  PARA INGRESAR EL CODIGO DE ARTICULO CON CODIGOS DE BARRA        -->          


                        <div id="barcode-result"></div>
                        <video id="barcode-scanner" style="width: 100%; height: 150px;" ></video>
                        
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Codigo</span>
                            <input type="text" class="form-control" aria-label="Codigo Articulo" aria-describedby="inputGroup-sizing-sm" id="codart" name="codart">
                        </div>

<!--

                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Descripcion</span>
                            <input type="text" class="form-control" aria-label="Descripcion" aria-describedby="inputGroup-sizing-sm" id="descricion" name="descripcion" minlength="20" maxlength="50">
                        </div>
                        
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Descripcion larga</span>
                            <textarea class="form-control" aria-label="Descripcion larga" aria-describedby="inputGroup-sizing-sm" id="descricion_larga" name="descripcion_larga" maxlength="750"></textarea>
                        </div>
-->
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Articulo</span>
                            <input type="text" class="form-control" aria-label="Articulo" aria-describedby="inputGroup-sizing-sm" id="articulo" name="articulo" minlength="8" maxlength="30" required>
                        </div>

                        <div class="input-group input-group-sm mb-3">
                            <label class="input-group-text" for="tipo">Tipo Articulo</label>
                            <select class="form-control" id="tipo" name="tipo" required>
                              <option value="">Opciones</option>
                              {% for categoria in categorias %}
                              <option value="{{ categoria.categoria }}">{{ categoria.categoria }}</option>
                              {% endfor %}
                            </select>
                        </div>
                       
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Costo</span>
                            <input type="text" class="form-control" aria-label="Costo" aria-describedby="inputGroup-sizing-sm" id="costo" name="costo" maxlength="5" required>
                        </div>
        
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Precio</span>
                            <input type="text" class="form-control" aria-label="Precio" aria-describedby="inputGroup-sizing-sm" id="precio" name="precio" maxlength="6" required >
                        </div>
                        
                        <div class="input-group input-group-sm mb-3">
                            <label class="input-group-text" for="tipo">Proveedor</label>
                            <select class="form-control" id="proveedor" name="proveedor" required>
                              <option value="">Opciones</option>
                              {% for proveedor in proveedores %}
                                <option value="{{ proveedor.razonsocial }}">{{ proveedor.razonsocial }}</option>
                              {% endfor %}
                            </select>
                        </div>


                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Imagen</span>
                            <input type="file" id="archivoInput" class="form-control" accept="image/jpeg" aria-label="Imagen" aria-describedby="inputGroup-sizing-sm" id="articleImage" name="articleImage" onchange="mostrarVistaPrevia()">
                        </div>

                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Vista Previa</span>
                            <img id="imagenPrevia" style="width: 250px; height: 250px;">
                        </div>

                        <br>

                        <div class="text-center">
                            <input type="submit" class="btn btn-info btn-sm" value="Guardar">
                            <a href="{{ url_for('articulos.lista') }}" class="btn btn-secondary btn-sm">Volver</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% block scripts %} 
    <!--
        <script src="{{ url_for('static', filename='js/codigoBarra.js') }}"></script> 
    -->

        <script src="{{ url_for('static', filename='js/camara.js') }}"></script>

{% endblock %}

{% endblock %}