{% extends 'base.html' %}



{% block link%} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_caja.css') }}"> 
{% endblock%}

{% block content %}

    <h5 class="m-3">{% block title %}Detalle de Operacion{% endblock %}</h5> 

    <div id="collapse1">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Caja</th>
                    <th scope="col">Monto</th>
                    {% if operacion.tipo == "C" %}
                        <th scope="col">Proveedor</th>
                    {% endif %}
                    {% if operacion.tipo == "V" %}
                        <th scope="col">Cliente</th>
                    {% endif %}
                    {% if operacion.tipo == "T" %}
                        <th scope="col">Caja</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">
                        {{ operacion.fecha }}
                    </td>
                    <td>
                        {% if operacion.tipo == "C" %}
                            Compra
                        {% endif %}
                        {% if operacion.tipo == "V" %}
                            Venta
                        {% endif %}
                        {% if operacion.tipo == "T" %}
                            Transferencia
                        {% endif %}
                    </td>
                    <td>
                        {% if operacion.caja == "B" %}
                            BILLETERA
                        {% endif %}
                        {% if operacion.caja == "E" %}
                            EFECTIVO
                        {% endif %}
                    </td>
                    <td>
                        {{ operacion.monto }}
                    </td>
                    <td>
                        {{ aquien }}
                    </td>
                </tr>
            </tbody>
        </table>
        {% if operacion.tipo != "T" %}
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th scope="col">Articulo</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detalle in detalles %}
                        <tr>
                            <td scope="row">
                                {{ detalle.articulo }}
                            </td>
                            <td>
                                {{ detalle.cantidad }}
                            </td>
                            <td>
                                {{ detalle.precio_unitario }}
                            </td>
                            <td>
                                {{ detalle.precio_unitario * detalle.cantidad }}
                            </td>
                        </tr>
                    {% endfor%}
                </tbody>
            </table>
        {% else %}
            <div>
                {{ detalles }}
            </div>
        {% endif %}
    </div>
    <hr>
    <div>
        <a href="{{url_for('cajas.lista')}}" class="btn btn-info btn-sm">Volver</a>
    </div>


{% endblock %}


{% block scripts %}
    <script src="{{ url_for('static', filename='js/caja.js') }}"></script>
{% endblock %}
