{% extends 'base.html' %}


{% block content %}
<section class="container-fuid">
    <nav class="navbar">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th class="col"><h5 class="text-center">{% block title %}Lista de proveedores{% endblock %}</h5></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="d-flex justify-content-center">
                        <form class="d-flex" method="get">
                            <a href="{{url_for('proveedores.crear')}}" class="btn btn-success btn-sm me-5">Nuevo</a>
                            <input class="form-control form-control-sm me-2" type="search" placeholder="Buscar..." aria-label="Search" name="q">
                            <button class="btn btn-outline-success btn-sm" type="submit">Buscar</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
     
    </nav>
    <div class="container mt-1">
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th class="col">Razon Social</th>
                    <th class="col">Telefono</th>
                    <th class="col" colspan="1">Modificar</th>
                </tr>
            </thead>
            <tbody>
                {% for proveedor in proveedores %}
                <tr>
                    <td>
                        <p>{{ proveedor.razonsocial }}</p>
                    </td>
                    <td>
                        <p>{{ proveedor.telefono }}</p>
                    </td>
                    <td>
                        <a href="{{url_for('proveedores.modificar', id = proveedor.id)}}" class="btn btn-info btn-sm">Modificar</a>
                    </td>
                
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>


    
{% endblock %}